<template>
  <div class="player-container" :style="songColor">
    <div class="cover-art">
      <img ref="coverArt" :src="`${$config.publicApiRoot}/cover-art/${coverArtFilename}`" :alt="`Cover art for '${title}' by ${artist}`"/>
      <div class="badge" :class="isFinal ? 'badge-final' : 'badge-draft'">{{ isFinal ? 'Final' : 'Draft' }}</div>
    </div>
    <div class="player-wrapper">
      <div class="info">
        <div class="title">{{ title }}</div>
        <div class="artist">{{ artist }}</div>
      </div>
      <client-only>
        <vue-plyr ref="plyr" :options="plyrOpts">
          <audio controls crossorigin playsinline>
            <source ref="plyrAudio" :src="`${apiRoot}/audio/${slug}`" type="audio/mp3" />
          </audio>
        </vue-plyr>
      </client-only>
      <div class="meta-container">
        <span class="meta">
          <span class="meta-label">Created</span><span class="meta-value">{{ createdAt }}</span>
        </span>
        <span v-if="version > 1" class="meta">
          <span class="meta-label">Version</span><span class="meta-value">{{ version }}</span>
        </span>
        <span class="pictos">
          <span class="picto picto-text">{{ format }}</span>
          <span v-if="isLoop" class="picto picto-icon">
            <svg><use xlink:href="#plyr-restart"></use></svg>
          </span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from 'dayjs';

export default {
  asyncData({ params, error, $config: { privateApiRoot } }) {
    return fetch(`${privateApiRoot}/meta/${params.slug}`)
      .then(async res => {
        const meta = await res.json();
        console.log(meta);
        if (meta.error) {
          return error( { statusCode: 404, message: meta.error } );
        }
        return {
          artist: meta.artist,
          title: meta.title,
          version: meta.version,
          coverArtFilename: meta.coverArtFilename,
          coverArtGuid: meta.coverArtFilename.substr(0, meta.coverArtFilename.lastIndexOf('.')),
          coverArtFormat: meta.coverArtFilename.substr(meta.coverArtFilename.lastIndexOf('.')),
          createdAt: dayjs(meta.createdAt).format('DD.MM.YYYY HH:mm'),
          isFinal: meta.isFinal,
          isLoop: meta.isLoop,
          slug: params.slug,
          coverColor: meta.coverColor,
          format: meta.format
        }
      })
      .catch(err => {
        return error( { statusCode: 500, message: err.message } )
      });
  },
  data() {
    return {
      isReady: false,
      apiRoot: this.$config.publicApiRoot
    }
  },
  head() {
    return {
      htmlAttrs: {
        prefix: 'og: http://ogp.me/ns#'
      },
      title: `${this.title} by ${this.artist} | Songbucket`,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this.title} • ${this.artist}`
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: 'Songbucket'
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'music.song'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: process.env.ORIGIN + this.$route.fullPath
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Listen to this track on Songbucket'
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${process.env.ORIGIN}${this.apiRoot}/cover-art/${this.coverArtGuid}-t500x500${this.coverArtFormat}`
        },
        {
          hid: 'og:image:width',
          property: 'og:image:width',
          content: '500'
        },
        {
          hid: 'og:image:height',
          property: 'og:image:height',
          content: '500'
        },
        {
          hid: 'twitter:card',
          property: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:image',
          property: 'twitter:image',
          content: `${process.env.ORIGIN}${this.apiRoot}/cover-art/${this.coverArtGuid}-t500x500${this.coverArtFormat}`
        }
      ]
    }
  },
  computed: {
    songColor() {
      return {
        '--plyr-color-main': this.coverColor,
        '--sb-picto-text-color': this.coverColor
      }
    },
    plyrOpts() {
      return {
        controls: ['play', 'current-time', 'progress', 'duration', 'mute', 'volume'],
        loop: {
          active: this.isLoop
        }
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$nextTick(() => {
        let audioReady = true;
        let coverReady = true; // check doesn't work on mobiles for some reason

        let readyInterval = setInterval(() => {
          if (audioReady && coverReady) {
            clearInterval(readyInterval);
            readyInterval = null;

            this.$refs.plyr.player.on('play', () => {
              if ('mediaSession' in navigator) {
                navigator.mediaSession.metadata = new window.MediaMetadata({
                  title: this.title,
                  artist: this.artist,
                  album: '',
                  artwork: [
                    { src: `${this.apiRoot}/cover-art/${this.coverArtGuid}-t500x500${this.coverArtFormat}`, sizes: 't500x500', type: 'image/jpeg' },
                    { src: `${this.apiRoot}/cover-art/${this.coverArtGuid}-t300x300${this.coverArtFormat}`, sizes: 't300x300', type: 'image/jpeg' },
                    { src: `${this.apiRoot}/cover-art/${this.coverArtGuid}-t250x250${this.coverArtFormat}`, sizes: 't250x250', type: 'image/jpeg' },
                    { src: `${this.apiRoot}/cover-art/${this.coverArtGuid}-t120x120${this.coverArtFormat}`, sizes: 't120x120', type: 'image/jpeg' },
                    { src: `${this.apiRoot}/cover-art/${this.coverArtGuid}-t80x80${this.coverArtFormat}`, sizes: 't80x80', type: 'image/jpeg' }
                  ]
                });
              }
            });

            this.$nuxt.$emit('childReady');
          }
        }, 500);

        this.$refs.plyr.player.on('loadeddata', (e) => {
          audioReady = true;
        });

        this.$refs.plyrAudio.onerror = () => {
          fetch(`${this.apiRoot}/onerror/${this.slug}`, { method: 'POST' });
          return this.$nuxt.error( { statusCode: 404, message: 'Audio file is not found' } );
        };

        this.$refs.coverArt.onload = () => {
          coverReady = true;
        };

        this.$refs.coverArt.onerror = () => {
          fetch(`${this.apiRoot}/onerror/${this.slug}`, { method: 'POST' });
          return this.$nuxt.error( { statusCode: 404, message: 'Cover art file is not found' } );
        };
      });
    });
  }
}
</script>

<style lang="scss">
@import '~/assets/styles/player.scss';
</style>
