:root {
  --sb-default-background-color: #ffffff;
  --sb-primary-color: #000000;
  --sb-secondary-color: #444444;
  --sb-label-color: #888888;
  --sb-picto-text-color: #999999;
  --sb-root-gradient-from-color: #eadee1;
  --sb-root-gradient-to-color: #ffffff;
}
