<template>
  <div class="loading-spinner"></div>
</template>

<script>
export default {
  name: 'Spinner'
}
</script>

<style lang="scss">
  .loading-spinner {
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: white url('~/static/sb-spinner.svg') no-repeat center center;
    transition: opacity 0.5s ease;
  }
</style>
