@import 'helpers';
@import 'color-schemes/standard';

.error-page {
  @include flex-centered(column);

  h1 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    color: var(--sb-primary-color);
  }

  h2 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--sb-secondary-color);
  }
}
