* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.root {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  font-family: Mukta, 'Helvetica Neue', Arial -apple-system-default, sans-serif;
  flex-direction: column;
  background: var(--sb-default-background-color) linear-gradient(0, var(--sb-root-gradient-from-color), var(--sb-root-gradient-to-color));
}

.content-wrapper {
  flex: 1 0 auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  .sb-logo {
    background-image: url('~/static/sb-logo.svg');
    width: 135px;
    height: 24px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: contrast(0) brightness(1);
  }
}

@media only screen
and (device-width: 414px)
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 2)
and (orientation : portrait) {
  .root {
    background: var(--sb-default-background-color);
  }
}
