$font-family: Mukta, 'Helvetica Neue', Arial -apple-system-default, sans-serif;

@mixin box-shadow($spread: 30px) {
  box-shadow: 0 0 $spread rgba(0, 0, 0, 0.15);
}

@mixin plyr-custom {
  --plyr-audio-controls-background: transparent;
  --plyr-font-weight-regular: 500;
  --plyr-font-family: $font-family;
}

@mixin cover-art-sizing($dimension) {
  width: $dimension;
  height: $dimension;
  flex: 0 0 $dimension;
}

.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  padding: 30px;

  .cover-art {
    @include box-shadow;
    @include cover-art-sizing(360px);
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    img {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
    }

    .badge {
      @include box-shadow(15px);
      position: absolute;
      z-index: 11;
      top: 4%;
      left: 4%;
      padding: 5px 7px;
      border-radius: 10px;
      color: white;
      text-transform: uppercase;
      font-size: 0.9rem;
      line-height: 0.9rem;
      font-weight: 700;

      &.badge-final {
        background-color: rgba(115, 173, 113, 0.8);
      }

      &.badge-draft {
        background-color: rgba(68, 68, 68, 0.8);
      }
    }
  }

  .player-wrapper {
    @include box-shadow;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    border: 1px solid #eee;
    border-radius: 0 20px 20px 0;
    width: 850px;
    background-color: white;

    .info {
      padding: 30px 30px 0;
      margin-bottom: 15px;

      .title {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2.8rem;
        margin-bottom: 0.5rem;
      }

      .artist {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 300;
        color: var(--sb-secondary-color);
      }
    }

    .plyr {
      @include plyr-custom;

      display: inline-block;
      padding: 0 20px;
      margin-bottom: 15px;
      height: auto;
    }

    .meta-container {
      display: inline-flex;
      padding: 10px 30px;
      border-top: 1px solid #ddd;

      .meta {
        padding-right: 25px;

        &:last-child {
          padding-right: 0;
        }

        .meta-label {
          color: var(--sb-label-color);
          font-weight: 600;
          text-transform: uppercase;
          margin-right: 10px;
        }

        .meta-value {
          color: var(--sb-secondary-color);
          font-weight: 600;
        }
      }

      .pictos {
        display: inline-flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;

        .picto {
          user-select: none;

          &:not(:last-child) {
            margin-right: 10px;
          }

          &.picto-text {
            padding: 4px 7px;
            border-radius: 10px;
            color: white;
            text-transform: uppercase;
            font-size: 0.7rem;
            line-height: 0.7rem;
            font-weight: 700;
            background: var(--sb-picto-text-color);
          }

          &.picto-icon {
            flex: 0 1 auto;
            width: 1.2rem;
            height: 1.2rem;

            svg {
              width: 100%;
              height: 100%;
              fill: var(--sb-picto-text-color);
            }
          }
        }
      }
    }
  }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation : portrait) {
  .player-container {
    flex-shrink: 1;
    flex-direction: column;
    justify-content: normal;
    padding: 0;
    margin-top: 7vw;

    .cover-art {
      @include cover-art-sizing(85vw);

      img {
        height: inherit;
      }
    }

    .player-wrapper {
      width: auto;
      box-shadow: none;
      border: 0;
      border-radius: 0;

      .info {
        text-align: center;
      }

      .meta-container {
        text-align: center;
      }
    }
  }
}
