<template>
  <div class="root">
    <transition name="fade">
      <spinner v-if="!isChildReady" />
    </transition>
    <nuxt class="content-wrapper" />
    <footer>
      <div class="sb-logo"></div>
    </footer>
  </div>
</template>

<script>
import Spinner from '~/components/Spinner';

export default {
  components: {
    Spinner
  },
  data() {
    return {
      isChildReady: false
    }
  },
  mounted() {
    this.$nuxt.$on('childReady', () => {
      this.isChildReady = true;
    })
  }
}
</script>

<style lang="scss">
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
