<template>
  <div class="error-page">
    <h1>{{ headline }}</h1>
    <h2>{{ message }}</h2>
  </div>
</template>

<script>
export default {
  layout: 'no-spinner',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    return {
      title: this.statusCode + ' | Songbucket'
    }
  },
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) ? this.error.statusCode : 'Oops!';
    },
    message () {
      if (this.error && this.error.statusCode) {
        switch (this.error.statusCode) {
          case 404:
            return 'but our princess is in another castle!';
          case 500:
            return 'Server went stuck! Maybe try refreshing?';
          default:
            return 'Not sure what happened but server returned code ' + this.error.statusCode;
        }
      }
      return 'Player accidentally went broken!';
    },
    headline() {
      if (this.error && this.error.statusCode) {
        if (this.error.statusCode === 404) {
          return 'Sorry Mario,';
        }
        return this.error.statusCode;
      }
      return 'Oops!';
    }
  },
  mounted() {
    if (this.error && this.error.statusCode) {
      console.error(new Error(`${this.error.statusCode}: ${this.error.message}`));
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/styles/error-page';
</style>
